.title {
    background-color: #b27e66;
    height: 60px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: white; 
    padding-top: 40px;
    margin-left: 10px;
}
body {
    background: url(../images/crystalbackground.jpg);
    font-family: Arial, Helvetica, sans-serif; 
}
.main-body {
    background-color: #d8b391;
    color: white;
    line-height: 1.6;
    width: 500px;
    height: 320px;
    padding: 10px;
    margin-left: 10px;
}
.target-area {
    background-color: #529ba7;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    font-size: 24px;
    color: white;
}
.scorecard {
    background-color: #80ceef;
    float: left;
    font-size: 12px;
}
.wins {

}
.losses {
    
}
.crystals {
    
}
.crystal-image {
    height: 63px;
    width: 63px;
}
.your-total {
    background-color: #df97d9;
}
.guessed-total {
    background-color: #866991;
}