.title {
    background-color: #b27e66;
    height: 60px;
    width: 200px;
    text-align: center;
    font-size: 24px;
    color: white; 
    padding-top: 40px;
    margin-left: 10px;
    margin-top: 10px;
    
}
body {
    background: url(../images/crystalbackground.jpg);
    font-family: Arial, Helvetica, sans-serif; 
}
div {
    display: block;
    overflow: hidden;
    /* margin: auto;
    width: 50% */
    /* display: inline-block;
    margin: 0 auto; */
}
.main-body {
    background-color: #d8b391;
    color: white;
    line-height: 1.6;
    width: 500px;
    height: 320px;
    padding: 10px;
    margin-left: 10px;
}
.target-area {
    background-color: #529ba7;
    height: 40px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    font-size: 42px;
    color: white;
    padding: 15px;
    text-align: center;
}
.scorecard {
    background-color: #80ceef;
    float: left;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 15px; 
    
}
.wins {
    
}
.losses {

}
.crystals {
    margin-left: 10px;
    
}
.crystal-image {
    height: 63px;
    width: 63px;
}
.your-total {
    background-color: #df97d9;
    overflow: hidden;
    width: 180px;
    height: 28px;
    margin-left: 10px;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.guessed-total {
    background-color: #866991;
    height: 36px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    font-size: 35px;
    color: white;
    padding: 12px;
    text-align: center;
    margin-bottom: 10px;
}